@model LockedNLoaded.ViewModels.Places.Index
@if (!Request.IsAuthenticated)
{
    <span>
    @Html.ActionLink("Login", "Login", "Session") to continue
    </span>
}
else
{
    <span>
        <h3>Places</h3>
        <a href="/Places/Create" class="btn btn-success btn-sm" id="add-place">
            <i class="glyphicon glyphicon-plus"></i>
            Add place
        </a>
        
        @foreach (var place in Model.PlaceList.Places)
    {
        <div class="media">
            <a href="/Places/Details/@place.Id">
                <div class="media-left">
                    <img class="place-image"
                         src="@(!String.IsNullOrEmpty(place.ImageUrl) ? place.ImageUrl :
                            "http://maps.googleapis.com/maps/api/staticmap?center=" + place.Coordinates.Latitude + "," + place.Coordinates.Longitude + "&zoom=10&size=100x100&sensor=false&key=AIzaSyDO3iYZcZSxJo726LMjdNdPDyeWIlDfFEc"
                            )" />
                    <div class="media-body">
                        <h4>@place.LocationName Rating:@place.UserRating</h4>
                        <p>@place.CreatedBy.Name</p>
                    </div>
            </a>
        </div>
}

        @if (Model.PlaceList.Places.Count() == 0)
    {
        <p>No places found</p>
}

        @if (null != Model.PlaceList.NextPageToken)
    {
        <nav>
            <ul class="pager">
                <li><a href="?nextPageToken=@Model.PlaceList.NextPageToken">More</a></li>
            </ul>
        </nav>
}
    </span>
}
