@model LockedNLoaded.ViewModels.Places.Index
@if (!Request.IsAuthenticated)
{
    <span>
        @Html.ActionLink("Login", "Login", "Session") to continue
    </span>
}
else
{
    <script language="javascript">
        (function ($)
        {
            $.fn.IncrementRating = function (id) {
                $.ajax(
                    {
                        url: "Places/RatingIncrement",
                        method: "POST",
                        data: { id: id },
                        cache: false,
                        async: true,
                        success: function (result, status, xhr) {
                            $("#Place_" + id).html(result);
                        },
                        error: function (xhr, status, error) {
                            alert("Error: " + status);
                        }
                    });
            };
            $.fn.DecrementRating = function (id) {
                $.ajax(
                    {
                        url: "Places/RatingDecrement",
                        method: "POST",
                        data: { id: id },
                        cache: false,
                        async: true,
                        success: function (result, status, xhr)
                        {
                            $("#Place_" + id).html(result);
                        },
                        error: function (xhr, status, error)
                        {
                            alert("Error: " + status);
                        }
                    });
            };
        })(jQuery);
    </script>
    <div>
        <h3>Places</h3>
        
        <a href="/Places/Create" class="btn btn-success btn-sm" id="add-place">
            <i class="glyphicon glyphicon-plus"></i>
            Add place
        </a>
        <div class="list-group list-group-horizontal">
            @foreach (var place in Model.PlaceList.Places)
            {

                <div class="list-group-item" id="Place_@place.Id">
                    @{
                        Html.RenderPartial("_PlaceTile", place);
                    }
                </div>
            }
        </div>
        @if (Model.PlaceList.Places.Count() == 0)
{
        <p>No places found</p>
}

        @if (null != Model.PlaceList.NextPageToken)
{
        <nav>
            <ul class="pager">
                <li><a href="?nextPageToken=@Model.PlaceList.NextPageToken">More</a></li>
            </ul>
        </nav>
}
</div>
}
